<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<%- include('./partials/headerLog') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar producto</h2>
			
			 <form action="/products/store" method="POST">
				<label>Nombre del producto  </label><input type="text" name="nombre" value=""> <br>
				<br>
				<label>Imagen del producto (nombre del archivo)  </label><input type="text" name="imagen" value=""><br>
				<br>
				<label>Descripcion del producto  </label><br>
				<textarea name="desc"></textarea>
				<br>
				<br>
				<button type="submit">Agregar Producto</button>
             </form></div>
	<!-- footer -->
     <%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>