<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
    
			<form action="/users/login" method="post">
                <label>email: </label><input type="email" name="email" value=""> <br>
				<br>
                <label>Contraseña:  </label><input type="password" name="contraseña" value=""><br>
				<br>
                <label>Recordar la contraseña </label><input type="checkbox" name="check" value=""><br>
				<br>
				<button type="submit">Iniciar sesion</button>
            </form>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>