<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades .. -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			
			<form action="/users/register" method="post">
                <div>
                    <input type="text" class="form-input" name="usuario" id="name" placeholder="name"> 
                </div>
                <div>
                    <input type="email" class="form-input" name="email" id="email" placeholder="email">
                </div>
                <div>
                    <input type="password" class="form-input" name="contraseña" id="password" placeholder="Clave">
                </div>
                <div>
                    <button type="text"> Crear</button>
                </div>
            </form>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>