<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades .. -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>	
			<form action="/users/register" method="post">
                <label>usuario:  </label><input type="text" name="usuario" value=""> <br>
				<br>
                <label>email: </label><input type="email" name="email" value=""> <br>
				<br>
                <label>Contraseña:  </label><input type="password" name="contraseña" value=""><br>
				<br>
				<button type="submit">Registrarse</button>
            </form>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>